

/* ---------------------------------------------------
    RATING BUTTON STAR STYLE
----------------------------------------------------- */
.rating.stars {
    background: #ffffff;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
  
.rating input[type="radio"]{
    display: none;
}
.rating.gold, .rating.gold::before {
	color: #FFD700;
}
label.rating {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
    transition: all .1s ease-in-out;
}
  
label.rating::before {
    content: "\f005";
    font-family: FontAwesome;
    color: #c0c0c0;
    font-size: 30px;
    line-height: 30px;
    margin-right: -100%;
    transition: all .1s ease-in-out;
}
  
label.rating:hover::before,
label.rating:hover ~ label.rating::before {
    color: #ffdf32;
}
  

.rating.checkedStar {
    animation: checked .5s ease-in-out 1 both;
}
